.item {
    align-items: center;
    padding: 0 12px;
}

.item:hover {
    background-color: color-mix(in srgb, var(--color-accent) 25%, transparent);
}

.item.selected {
    background-color: color-mix(in srgb, var(--color-accent) 75%, transparent);
}

.item-expand-container {
    width: 18px;
    justify-content: center;
}
