.col-container {
    flex: 1;
    flex-direction: column;
}

.row-container {
    flex: 1;
    flex-direction: row;
}

.content-container {
    flex: 1;
}

.col-draghandle {
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}

.row-draghandle {
    width: 100%;
    height: 4px;
    cursor: ns-resize;
}

.col-draghandle:active, .row-draghandle:active {
    background-color: var(--color-accent-2);
}
