.container {
    flex: 1;
    flex-direction: column;
}

.viewport {
    flex: 1;
}

.statusbar {
    flex: 0 0 26px;
    background-color: var(--color-bg-3);
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    padding: 0 10px;
}
